*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
apk_chinese_strings.txt
/.idea/vcs.xml
/app/release/
.codex-spreadsheet-work/
outputs/
remote_data/阿里云RAM用户AccessKey/
